/*Fonts
HEADINGS
"
BODY
"*/

* {
    font-family: "SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, "SF Pro Text",
}
:root{
    --fondoP:rgba(251,251,253,255);
    --navbar:rgba(48,48,48,255);
    --characters:rgba(214,214,214,255);
    --fondoS:#f7f6f3;
    --navMenu: "Arial";
    --fontSizeSmall: 0,7em;
    --fontSizeMedium: 1em;
    --fontSizeLarge: 1.5em;

}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color:var(--navbar);
}

.header{
    color:var(--characters);
    font-size: 0.7em;
    font-family: var(--navMenu);
    display:flex;
    justify-content:space-around ;
    list-style-type:none;
    padding:10px;
    margin-left:15%;
    margin-right:15%;


}
section{
    height: 100vh;
    width:100%;
    background-color:var(--fondoS);


}
.title-main{
    text-align: center;
    font-size: var(--fontSizeLarge);
}
.content-main{
    display: flex;
}
.c-promax-main{
    border: solid 1px ;
    padding: 1% 4%;
}
.promax-main{

}
.IPhon13-main{

}
.c-13-main{
    border: solid 1px ;
    padding: 1% 4%;
}



footer {

    background-color:var(--navbar);
}

.footer > ul {
    color:var(--characters);
    font-size: 0.7em;
    font-family: var(--navMenu);
    display:flex;
    justify-content:space-around ;
    list-style-type:none;
    padding:10px;
    margin-left:15%;
    margin-right:15%;
}
